[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = git@github.com:eagletmt/ghcmod-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/idris-vim"]
	path = bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
